$color-background: #F3F6FD;
$color-white:#ffffff;
$color-black:#000000;
$color-white2:#f8f9fa;

$color-dull-grey:#f1f3f5;
$color-light-grey:#ced4da;
$color-dark-grey:#868e96;

$color-dull-blue:#d0ebff;
$color-light-blue:#4dabf7;
$color-dark-blue:#1c7ed6;

$color-dull-orange:#ffd8a8;
$color-light-orange:#ffa94d;
$color-dark-orange:#e8590c;

$color-dull-lime:#d8f5a2;
$color-light-lime:#a9e34b;
$color-dark-lime:#66a80f;

$color-dull-green:#b2f2bb;
$color-light-green:  #69db7c;
$color-dark-green:#2f9e44;

$color-dull-yellow:#ffe066;
$color-light-yellow:#fcc419 ;
$color-dark-yellow:#f08c00;

$color-dull-teal:#c3fae8;
$color-light-teal:#38d9a9;
$color-dark-teal:#099268  ;

$color-dull-volet:#e5dbff;
$color-light-volet:#9775fa;
$color-dark-volet:#6741d9;

$color-dull-pink:#fcc2d7;
$color-light-pink:#f06595;
$color-dark-pink:#c2255c;

$color-red:#f03e3e;